{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

<div style="overflow-x:auto;">
    <br>
        <table id="detalles_tab">
            <thead>
                <tr>
                    <th>{% traducir 'medio de pago' 'MOV_BANCARIOS_DETALLE' %}</th>
                    <th>{% traducir 'cheque' 'MOV_BANCARIOS_DETALLE' %}</th>
                    <th>{% traducir 'importe' 'MOV_BANCARIOS_DETALLE' %}</th>
                    <th>{% traducir 'vencimiento' 'MOV_BANCARIOS_DETALLE' %}</th>
                    <th>{% traducir 'cheque numero' 'MOV_BANCARIOS_DETALLE' %}</th>
                    <th>{% traducir 'estado anterior' 'MOV_BANCARIOS_DETALLE' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="detalles_body">
                {% for mov_bancarios_detalle in paginado %}
                    <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
                        <td> {{ mov_bancarios_detalle.medio_pago | limpiar_none }}</td>
                        <td> {{ mov_bancarios_detalle.cheque | limpiar_none }}</td>
                        <td> {{ mov_bancarios_detalle.importe_det | limpiar_none }}</td>
                        <td> {{ mov_bancarios_detalle.vencimiento_det | limpiar_none }}</td>
                        <td> {{ mov_bancarios_detalle.cheque_numero | limpiar_none }}</td>
                        <td></td>
                        <td><a href="#"
                               class="deletelink"
                               title="{% traducir 'Eliminar' 'MOV_BANCARIOS_DETALLE' %}"
                               onclick="return confirmarAccion('{% url 'mov_bancarios_detalle_eliminar' %}',
                               '¿Eliminar detalle?')"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
</div>