{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

    {% if administracion %}
        <h2>{{ administracion.descripcion }}</h2>
    {% else %}
        <h2>Agregar</h2>
    {% endif %}

    {% crispy form %}

    <form hidden id="urlsForm"
        cargar_provincias-url="{% url 'ajax_cargar_provincias' %}"
        cargar_localidades-url="{% url 'ajax_cargar_localidades' %}"
        novalidate>
    </form>
    <script src='{% static "js/provincias_ajax.js" %}'></script>
    <script src='{% static "js/localidades_ajax.js" %}'></script>

{% endblock %}