{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

{% if filtros_form %}
    <h1>Depósitos</h1>
    {% crispy filtros_form %}
{% endif %}
<div class="form-row form-row">
    <div class="col form-group">
        <table>
            <tr class="model-group">
                <th>
                    <a href="{% url 'deposito_agregar' %}" class="addlink">
                    {% traducir 'Deposito' 'DEPOSITO' %}
                    </a>
                </th>
            </tr>
        </table>
    </div>
</div>

<div style="overflow-x:auto;">
    <br>
        <table id="tab">
            <thead>
                <tr>
                    <th>{% traducir 'codigo' 'DEPOSITO' %}</th>
                    <th>{% traducir 'descripcion' 'DEPOSITO' %}</th>
                    <th>{% traducir 'afecta stock' 'DEPOSITO' %}</th>
                    <th>{% traducir 'activo' 'DEPOSITO' %}</th>
                    <th>{% traducir 'domicilio' 'DEPOSITO' %}</th>
                    <th>{% traducir 'telefono' 'DEPOSITO' %}</th>
                    <th>{% traducir 'externo' 'DEPOSITO' %}</th>
                    <th>{% traducir 'localidad' 'DEPOSITO' %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for deposito in paginado %}
                    <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
                        <td> {{ deposito.codigo }}</td>
                        <td> {{ deposito.descripcion }}</td>
                        {% autoescape off %}
                            <td> {{ deposito.afecta_stock | imagen_si_no }}</td>
                        {% endautoescape %}
                        {% autoescape off %}
                            <td> {{ deposito.activo | imagen_si_no }}</td>
                        {% endautoescape %}
                        <td> {{ deposito.domicilio }}</td>
                        <td> {{ deposito.telefono }}</td>
                        {% autoescape off %}
                            <td> {{ deposito.externo | imagen_si_no }}</td>
                        {% endautoescape %}
                        <td> {{ deposito.localidad }}</td>
                        <td></td>
                        <td>
                            <a href="{% url 'deposito_editar' deposito.id %}"
                               title="{% traducir 'Editar' 'DEPOSITO' %}"
                               class="changelink">
                            </a>
                        </td>
                        <td><a href="#"
                               class="deletelink"
                               title="{% traducir 'Eliminar' 'DEPOSITO' %}"
                               onclick="return confirmarAccion('{% url 'deposito_eliminar' deposito.id %}',
                               '¿Eliminar deposito?')"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    {% include "paginador.html" %}
</div>