{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

{% if filtros_form %}
    <h1>Cajas</h1>
    {% crispy filtros_form %}
{% endif %}
<br>
<div class="form-row form-row">
    <div class="col form-group">
        <table>
            <tc class="model-group">
                <th>
                    <a href="{% url 'caja_agregar' %}" class="addlink">
                    {% traducir 'Caja' 'CAJA' %}
                    </a>
                </th>
            </tc>
        </table>
    </div>
</div>

<div style="overflow-x:auto;">
    <br>
        <table id="tab">
            <thead>
                <tr>
                    <th>{% traducir 'Codigo' 'CAJA' %}</th>
                    <th>{% traducir 'Descripcion' 'CAJA' %}</th>
                    <th>{% traducir 'Cuenta contable' 'CAJA' %}</th>
                    <th></th>
                    <th>Cerrar</th>
                    <th>Listar</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for caja in paginado %}
                    <tr class="row{% if forloop.counter|divisibleby:2 %}1{% else %}2{% endif %}">
                        <td> {{ caja.codigo }}</td>
                        <td> {{ caja.descripcion | limpiar_none }}</td>
                        <td> {{ caja.cuenta_contable | limpiar_none  }}</td>
                        <td></td>
                        <td>
                            <a href="#"
                               title="{% traducir 'Cerrar caja' 'CAJA' %}"
                               class="selected-link"
                               onclick="return confirmarAccion('{% url 'caja_cierres_agregar' caja.pk %}',
                               '¿Cerrar caja?')">

                            </a>
                        </td>
                        <td>
                            <a href="{% url 'caja_cierres_listar'  %}?buscar={{ caja.descripcion }}"
                               title="{% traducir 'Listar' 'CAJA' %}"
                               class="sorted-za">
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'caja_editar' caja.id %}"
                               title="{% traducir 'Editar' 'CAJA' %}"
                               class="changelink">
                            </a>
                        </td>
                        <td><a href="#"
                               class="deletelink"
                               title="{% traducir 'Eliminar' 'CAJA' %}"
                               onclick="return confirmarAccion('{% url 'caja_eliminar' caja.id %}',
                               '¿Eliminar caja?')"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    {% include "paginador.html" %}
</div>